$border-color-hover: #666;
$border-color: #999;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, .5);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$color: #333;
$error-color: #f1453d;
$font-size: 14px;
$input-height:32px;
$padding: 0 8px;
$tips-color: #8f97f1;
